<script src="/js/widgets/add_props.js" type="text/javascript"></script>

<div id="form_additional_props">
    <p><label>ЁЯСе Additional Properties:</label></p>

    <% if form.failed_on?(:additionalProperties) %>
        <p class="error">тЪая╕П Fail!</p>
    <% end %>

    <button id="button_add_property" type="button">Add property</button>

    <p id="input_additional_prop_template" hidden>
        <input name="additionalProperties[][key]" maxlength="100" size="15" type="text" placeholder="Key">
        <input name="additionalProperties[][value]" maxlength="100" size="50" type="text" placeholder="Value">
        <button type="button">X</button>
    </p>
</div>
