<div id="id_form">
    <p><label>👥 Job Identity:</label></p>

    <% if form.failed_on?(:id_kind, :present) %>
        <p class="error">⚠️ Please select an option</p>
    <% end %>

    <p class="selector">
        <input type="radio" name="id_kind" value="single" id="id_radio_single" checked />
        <label for="id_radio_single">Single</label>

        <input type="radio" name="id_kind" value="list" id="id_radio_list" />
        <label for="id_radio_list">List</label>

        <input type="radio" name="id_kind" value="incr" id="id_radio_incr" />
        <label for="id_radio_incr">Incremental</label>

        <input type="radio" name="id_kind" value="rand" id="id_radio_rand" />
        <label for="id_radio_rand">Random</label>
    </p>

    <p id="id_input_single">
        <input id="id_input" name="id_single" maxlength="100" size="50" type="text" placeholder="Job ID">
    </p>
    <p id="id_input_list">
        <input id="id_input" name="id_list" maxlength="100" size="50" type="text" placeholder="Job ID list, comma-seperated">
    </p>
    <p id="id_input_incr">
        <input id="id_input" name="id_incr_start" maxlength="100" size="50" type="text" placeholder="Starting ID">
    </p>
    <p id="id_input_rand"/>
</div>
