<div id="resno_form">
    <p><label for="resno">ЁЯСе Resource number:</label></p>

    <% if form.failed_on?(:resno_kind, :present) %>
        <p class="error">тЪая╕П Please select an option</p>
    <% end %>

    <p class="selector" id="resno_radios_kind">
        <input type="radio" name="resno_kind" value="single" id="resno_radio_single" checked />
        <label for="resno_radio_single">Single</label>

        <input type="radio" name="resno_kind" value="list" id="resno_radio_list" />
        <label for="resno_radio_list">List</label>
    </p>

    <p id=resno_input_single">
        <input name="resno_single" maxlength="5" size="50" type="text" placeholder="Resource number">
    </p>
    <p id=resno_input_list">
        <input name="resno_list" maxlength="5" size="50" type="text" placeholder="Resource numbers, comma seperated">
    </p>
</div>
